# Файлы EditorConfig читаются сверху вниз, и самые последние найденные правила
# имеют приоритет. Свойства из соответствующих разделов EditorConfig применяются
# в том порядке, в котором они были прочитаны, поэтому свойства в более близких
# файлах имеют приоритет.
#
# Не все свойства поддерживаются каждым плагином.
# Если свойство не указано, будут использоваться настройки редактора.
#
# ТОЛЬКО "/" - разделитель пути, "#" и ";" - для комментов.
# TODO https://editorconfig.org/#wildcards


# Останавливает процесс поиска файла ".editorconfig" на текущем. Должно идти
# ПЕРЕД всеми свойствами.
root = true

[*]
# Удаление свойства (и использование свойства РЕДАКТОРА по умолчанию).
tab_width = unset
# Вид табуляции: "tab" (hard tabs) или "space" (soft tabs).
indent_style = space
# Целое число пробелов для табуляции или "tab" (тогда юзается "tab_width", но
# это ПЛОХОЙ ТОН).
indent_size = 2
# Целое число пробелов в качестве символа Tab. Не нужно указывать, если не
# отличается от "indent_size".
tab_width = 2
# "lf", "cr", или "crlf".
end_of_line = lf
# "latin1", "utf-8", "utf-8-bom", "utf-16be" или "utf-16le".
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
